# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
*.txt
*.xlsx
*.txt
*.log
*.txt
*.pprof
*.pdf
*.txt
tools/migration/redboxtoesp/cmd/Pharmacy.txt
*.edi
*.pem
restservices/builds/espservices/startesp.bat
tools/dataextractor/matches/testout/*.gpg
# Go vendor dependencies
vendor
.vscode/
 7, done.
nn
.idea

*.gpg
*.bat
